<!DOCTYPE html>
<html lang="en">
<head>
    <title>GPA admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/Static/admin/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/Static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" dashboard" data-admin-utc-offset="0">
<div id="container">
	<div id="header">
		<div id="branding">
			<h1 id="site-name"><a href="/admin/">GPA administration</a></h1>
		</div>
		<div id="user-tools">
                Welcome,
                <strong>hugh</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
        </div>
	</div>
	<div class="colMS">
        <h1>人员名册和成绩录入</h1>

		{% csrf_token %}
		<input type="file" accept=" application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="upload_excel"/>

		<br />
		<button hidden id="person">录入名册</button>
		<button hidden id="score">录入成绩</button>
		<br />
		<div id="content"></div>

	</div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

	<div class="footer">
		<h1>表格导入说明</h1>
		<p>网站会自动识别是名册表格还是成绩表格，格式错误的表格将不能正确导入和显示，请按照指定的表格格式操作。如果没有错误，在表格上方会出现按钮，单击进行导入，如果表格数据有误，也会有错误提示。连续导入表格，每一次需重新刷新页面，否则会提示错误。</p>
		<img src="/Static/img/gpaa.jpeg" class="img-thumbnail" />
		<p><a href="/Static/web/zmingC.xlsx">名册格式下载</a></p>
		<p>人员名册有6列，带有标题行，未防止错误只检测“name”这一列的标题，后面5列标题不检测，错误的列数和标题将不能导入。特别提醒：表格不能为空，任何数据格都必须有数据，请自行用任意字符填充。</p>
		<br />
		<img src="/Static/img/gpab.jpeg" class="img-thumbnail" />
		<p><a href="/Static/web/zchengJ.xlsx">成绩格式下载</a></p>
		<p>成绩表格有21列，带有标题行，不检测标题行，A1是此次考试的名称，如果和上次的名称一样，将会覆盖上次的考试成绩，每次新的成绩务必更改A1格考试名称，考生名字必须是在人员名册导入后才能正确识别，请仔细核对考生名字，繁体简体空格等等。错误的列数和标题将不能导入。特别提醒：表格不能为空，任何数据格都必须有数据，请自行用数字字符填充。</p>
	</div>
	<br /><br /><br />

	<script src="/Static/cjss/jqueryGPA.js"></script>
	<script src="/Static/cjss/xlsxGPA.js"></script>
	<script src="/Static/cjss/excelgpa.js"></script>
</div>
</body>
</html>