{% extends "./_base.html" %}
  {% block base %}

    <div class="container">
    	<div class="col-md-3">
    	</div>
    	<div class="col-md-6">
    		<h2>版权声明</h2>
    		<p><span style="padding-left:2em"></span>本网站用于谢妤老师所带的重庆涪陵实验中学高2021级17班，提供多项成绩服务，为保护隐私学生姓名均隐去姓氏，数据来源均是考试成绩，各项统计量自行解读，网站不做说明。</p>
    		<p><span style="padding-left:2em"></span>本网站(网站地址)的技术支持由django+bootstrap+jquery+jsxlsx+echart搭建完成，承担开源许可责任。图片、设计均参考开源设计，在网上搜集。</p>
    		<p><span style="padding-left:2em"></span>访问者可将本网站提供的设计图片或服务用于个人学习、研究或欣赏,以及其他非商业性或非盈利性用途,但同时应遵守著作权法及其他相关法律的规定,不得侵犯本网站及相关权利人的合法权利。除此以外,将本网站任何内容或服务用于其他用途时,须征得本网站及相关权利人的书面许可,并支付报酬。</p>
    		<p><span style="padding-left:2em"></span>本网站成绩数据及学生信息受隐私保护，不得任何方式转载发布。任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</p>
    		<p><span style="padding-left:2em"></span>凡侵犯隐私和知识产权的，必依法追究其法律责任。</p><br />
    	</div>
    	<div class="col-md-3">
    	</div>
    </div>

  {% endblock base %}