{% extends "./_base.html" %}
  {% block base %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">主页</a></li>
            <li class="active">个人成绩</li>
        </ol>

        <div class="row">
            <div class="col-sm-12">
                
                <table class="table table-hover" style="border: 1px solid #cccccc;border-collapse: collapse;">
					<caption>名单及成绩趋势</caption>
					<thead>
						<tr class="danger" style="font-weight: bold">
							<td>序号</td>
							<td>姓名<button id="0up-1">⇅</button></td>
							{% for it in item %}
								<td class="idcourse">{{ it }}K<button id="0up{{ forloop.counter0 }}">⇅</button></td>
								<td class="idcourse">{{ it }}e<button id="1up{{ forloop.counter0 }}">⇅</button></td>
							{% endfor %}
						</tr>
					</thead>
					<tbody id="ty">
						{% for it in one %}
							{% with k=forloop.counter0 %}
							{% if forloop.counter|divisibleby:2 %}
							<tr class="success">
							{% else %}
							<tr class="warning">
							{% endif %}
							<td>{{ forloop.counter }}</td>
							<td class="idname"><a href="/single/{{ it.0.0 }}">{{ it.0.1 }}</a></td>
							{% for is in it.1 %}
								<td id="{{ k }}Regression{{ forloop.counter0 }}">{{ is }}</td>
							{% endfor %}
							{% endwith %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
				<h3>功能说明</h3>
                <p><span style="padding-left:2em"></span>上方表格根据年级排名做了线性回归。K是趋势为负反应平均进步名次；为正反应平均退步名次。e是残差为拟合值与真实值之间的平均差距（这里并不是常用的平方和，为了直观和便于理解），残差做了考试次数减2的平均，越大说明成绩越不稳定。</p>
                <br>
                <p><span style="padding-left:2em"></span>点击姓名，跳转至个人成绩页面，列举出单人每次考试成绩，可以查看个人的具体情况。雷达图反应每次考试不同科目的对比，越靠近中心中位数成绩越好，以年级排名为准。各科目折线图是个人成绩的历史情况，可以反应出成绩上升还是下降，是否有好的学习效果。最后的图是饼状图，反应该学生永争第一的情况。为保护隐私，学生名字做了一定处理，最后希望大家注意保护班级成绩信息，请勿发布到其他地方。</p>
				<br>
				
            </div>
        </div>
        <br>
    </div>

  {% endblock base %}
  
  {% block js %}
    <script src="/Static/cjss/tablegpa.js"></script>
  {% endblock js %}