{% extends "./_base.html" %}
  {% block base %}

    <div class="container">
    	<ol class="breadcrumb">
            <li><a href="/">主页</a></li>
            <li><a href="/whole">整体情况</a></li>
			<li class="active">{{ title }}</li>
		</ol>

    	<div class="row">
    		<div class="col-sm-12 col-xs-12">
                <div class="col-sm-4">
    			    <div class="bs-callout bs-callout-primary">
                        <h4>{{ title }}</h4>
                        <p>详细记录</p>
                    </div>
                </div>
                <div class="col-sm-8"></div>

                <table class="table table-hover" style="border: 1px solid #cccccc;border-collapse: collapse;">
                    <caption>{{ title }}考试详细记录</caption>
                    <thead>
                       <tr class="danger" style="font-weight: bold">
                            <td>参数</td>
							{% for item in zero %}
								<td>{{ item.0 }}</td>
							{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td id="p1">中位数</td>
							{% for item in zero %}
								<td id="p1{{forloop.counter}}">0</td>
							{% endfor %}
                        </tr>
                        <tr class="warning">
                            <td id="p2">平均数</td>
                            {% for item in zero %}
								<td id="p2{{forloop.counter}}">0</td>
							{% endfor %}
                        </tr>
                        <tr class="success">
                            <td id="p3">中位数年级排名</td>
                            {% for item in zero %}
								<td id="p3{{forloop.counter}}">0</td>
							{% endfor %}
                        </tr>
                        <tr class="warning">
                            <td id="p4">平均数年级排名</td>
                            {% for item in zero %}
								<td id="p4{{forloop.counter}}">0</td>
							{% endfor %}
                        </tr>
                        <tr class="success">
                            <td id="p5">离散系数</td>
                            {% for item in zero %}
								<td id="p5{{forloop.counter}}">0</td>
							{% endfor %}
                        </tr>
                    </tbody>
                </table>

                <hr />
                <div id="cavtest" style="height: 50%"></div>
                <hr />

                <table class="table table-hover" style="border: 1px solid #cccccc;border-collapse: collapse;">
                    <caption>{{ title }}各科目分数相关系数</caption>
                    <thead>
                       <tr class="danger" style="font-weight: bold">
                            <td>系数</td>
                            {% for item in zero %}
								<td>{{ item.0 }}</td>
							{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
						{% for item in zero %}
							{% with k=forloop.counter %}
							{% if forloop.counter|divisibleby:2 %}
								<tr class="success">
									<td id="a{{k}}a0">{{ item.0 }}</td>
										{% for item in zero %}
											<td id="a{{k}}a{{forloop.counter}}">1</td>
										{% endfor %}
								</tr>
							{% else %}
								<tr class="warning">
									<td id="a{{k}}a0">{{ item.0 }}</td>
										{% for item in zero %}
											<td id="a{{k}}a{{forloop.counter}}">1</td>
										{% endfor %}
								</tr>
							{% endif %}
							{% endwith %}
						{% endfor %}
                    </tbody>
                </table>
                <table class="table table-hover" style="border: 1px solid #cccccc;border-collapse: collapse;">
                    <caption>{{ title }}各科目年级排名相关系数</caption>
                    <thead>
                       <tr class="danger" style="font-weight: bold">
                            <td>系数</td>
                            {% for item in zero %}
								<td>{{ item.0 }}</td>
							{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
						{% for item in zero %}
							{% with h=forloop.counter %}
							{% if forloop.counter|divisibleby:2 %}
								<tr class="success">
									<td id="b{{h}}b0">{{ item.0 }}</td>
										{% for item in zero %}
											<td id="b{{h}}b{{forloop.counter}}">1</td>
										{% endfor %}
								</tr>
							{% else %}
								<tr class="warning">
									<td id="b{{h}}b0">{{ item.0 }}</td>
										{% for item in zero %}
											<td id="b{{h}}b{{forloop.counter}}">1</td>
										{% endfor %}
								</tr>
							{% endif %}
							{% endwith %}
						{% endfor %}
                    </tbody>
                </table>

                <hr />
                <div id="cavmuti" style="height: 50%"></div>
                <div>
                    <p>所有科目年级排名综合对比。</p>
                </div>

				{% for item in zero %}
					<hr />
						<div id="cav{{forloop.counter0}}" style="height: 50%"></div>
						<div>
							<p>偏度为<span id="num{{forloop.counter0}}">0</span>。</p>
						</div>
					<hr />
				{% endfor %}

                <div class="panel-group col-sm-12 hidden-xs" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">点击展开，显示详细数据。</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                <div  class="col-sm-12">
                <table class="table table-hover" style="border: 1px solid #cccccc;border-collapse: collapse;">
                    <caption>{{ title }}考试详细记录</caption>
                    <thead>
                       <tr class="danger" style="font-weight: bold">
                            <td>姓名</td>
							{% for item in zero %}
								<td>{{ item.0 }}</td>
								<td>名次</td>
							{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for it in two %}
                            {% if forloop.counter|divisibleby:2 %}
								<tr class="success excelone">
                            {% else %}
								<tr class="warning excelone">
							{% endif %}
							
							{% for is in it %}
								<td class="n{{forloop.counter0}}">{{ is }}</td>
							{% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>

                        </div>
                    </div>
                </div>
            </div>

    		</div>
    	</div>
        <br>
    </div>

  {% endblock base %}

  {% block js %}
    <script src="/Static/cjss/echartGPA.js"></script>
    <script src="/Static/cjss/wholegpa.js"></script>
  {% endblock js %}